body {
    background-image: url('../static/ritbg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-position-y: -90px;
  }
  
  .container {
    width: 400px;
    padding: 20px;
    height: 300px;
    background-color: transparent;
    text-align: center;
    margin-top: 80px;
    
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #085695;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: #085695;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #004a80;
  }