body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-position-y: -90px;
  overflow: hidden;
  font-family: poppins;
}

.container {
  width: 350px;
  padding: 20px;
  height: 270px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.textbox {
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 0.5px solid #ccc;
  border-radius: 15px;
}

.login-button {
  height: 60px;
  width: 310px;
  padding: 10px;
  background-color: #085695;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  font-family: Poppins;
  font-weight: bold;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #0056b3;
  
}

.Attendance-Head{
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  text-align: left;
  padding-left: 15.5px;
}

.success-message{
  text-align: center;
}

.popup {
  position: fixed;
  bottom: 40px;
  right: 80px;
  height: 40px;
  background-color: #ffffff;
  color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 0px 10px hsla(45, 14%, 57%, 0.2);
  opacity: 0; /* Start with the popup hidden */
  animation: appearDisappear 3s ease-in-out; 
}

@keyframes appearDisappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popup.show {
  opacity: 1; /* Show the popup when the class is added */
}

.success-message{
  font-size: large;
  color:#0056b3;
  text-align: center;
}

.button-box {
    width: 400px;
    margin-top: 5px;
    position: relative;
    border-radius: 30px;
    height:50px;
    background: #fff
}

.toggle-btn {
    padding: 0px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    width:190px;
    height:45px;    
}

#btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 200px;
    height: 100%;
    background: #0056b3;
    border-radius: 30px;
    transition: 0s;
} 
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* adjust the height according to your needs */
}

.logo-container img {
  max-width: 100%; /* adjust the width according to your needs */
  height: auto;
  margin: 0 auto; /* center the image horizontally */
}