    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Boxicons -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- My CSS -->
        <link rel="stylesheet" href="../static/members.css">

    </head>
    <body>

    <!-- SIDEBAR -->
        <section id="sidebar" style="font-family: var(--poppins); ">
            <img src="../static/ritlogo.png" height="80px" width="190px" class="Logoimg" >
            <ul class="side-menu top">
                <li>
                    <a href="/librarianDashboard">
                        <i class='bx bxs-dashboard' ></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/inventory">
                        <i class='bx bxs-package' ></i>
                        <span class="text">Inventory</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/student">
                        <i class='bx bxs-user type="sloid"' ></i>
                        <span class="text">Add Members</span>
                    </a>
                </li>
                <li>
                    <a href="/noduechecker">
                        <i class='bx bxs-user-check'></i>
                        <span class="text">No Due Checker</span>
                    </a>
                </li>
                <li>
                    <a href="/bookacquisition">
                        <i class='bx bxs-book type="sloid" ' ></i>
                        <span class="text">Book Acquisition</span>
                    </a>
                </li>
                <li>
                    <a href="/finemanager">
                        <i class='bx bx-money'></i>
                        <span class="text">Fine Manager</span>
                    </a>
                </li>
                <li>
                    <a href="/report">
                        <i class='bx bxs-report type="sloid"' ></i>
                        <span class="text">Report</span>
                    </a>
                </li>
                <li>
                    <a href="/booksearch">
                        <i class='bx bx-search-alt-2'></i>
                        <span class="text">Search</span>
                    </a>
                </li>
            </ul>
        </section>
        <!--SIDEBAR-->

        <!-- CONTENT -->
        <section id="content">
            <!-- NAVBAR -->
            <nav>
                <h1 style="color:rgb(6, 126, 212);font-size:22px; font-weight:bold; font-family:poppins;padding-top: 10px;">Library Management System</h1>
                <div class="right-corner">
                    <img src="../static/user.jpg" class="user-pic"  onclick="toggleMenu()" >
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <a href="/forgot_password" class="sub-menu-link">
                                <p>Change Password</p>
                            </a>
                            <a href="/logout" class="sub-menu-link" style="color: crimson;">
                                <p>Logout</p>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!--NAVBAR-->

            <!-- MAIN -->
            <main>
                <div class="addbookhead_importbutton">
                    <div>
                        <h1 style="font-weight: normal;padding-top: 20px;padding-left: 10px;font-size: 35px;color:#342E37"> Members</h1>
                    </div>
                    
                </div>
                <div class="tophead_navbar_container">

                    <div class="Inventoryclone">
                        <a href="/student">
                            <h1 style="font-size:21px;color:#0881b9;">Add</h1>
                        </a>
                    </div>
                    <div class="Inventory">
                        <a href="/studentedit">
                            <h1 style="font-size:21px;color:white;">Edit</h1>
                        </a>
                    </div>
                    <div class="Inventoryclone">
                        <a href="/studentremove">
                            <h1 style="font-size:21px;color:#0881b9;">Remove</h1>
                        </a>
                    </div>
            
                </div>
                <div class="Addbookform_container">
                    <form action="/stu_edit" method="post" class="form">
                        <div class="form1form2_and_AddBook_SubmitButton_container">
                        
                            <div>
                                <div style="padding: 3px;">
                                    <div>
                                        <label class="textplace" for="user_id" style="font-size: 17px;font-weight: 600; ">Register Number</label>
                                    </div>
                                    <div style="display: flex; flex-direction: row; margin-bottom: 25px; border: 12cm;">
                                        <input type="type" name="user_id" id="user_id"  class="AddBook_Details" value="{{ regno | default('') }}" required>
                                        <button type="Submit" class="AddBook_submit_button" style="width: 50%; margin-left: 30px;" name="submit" value="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                            {% if found %}
                                <div class="form1_and_form2">
                                    <div class="form1">

                                        <div style="padding: 3px;">
                                            <div>
                                                <label class="textplace" for="name" style="font-size: 17px; font-weight: 600;">Name</label>
                                            </div>
                                            <div>
                                                <input type="text"  name="name" id="name" class="AddBook_Details" value="{{ found.NAME | default('') }}"><br>
                                            </div>
                                        </div>
                                        <div style="padding: 3px;">
                                            <div>
                                                <label class="textplace" for="year" style="font-size: 17px;font-weight: 600;">Academic Year(20XX)</label>
                                            </div>
                                            <div>
                                                <input type="text"  name="year" id="year" inputmode="numeric" pattern="[0-9]*" class="AddBook_Details" value="{{ found.YEAR | default('') }}"><br>
                                            </div>
                                        </div>
                                        <div style="padding: 3px;">
                                            <div>
                                                <label class="textplace" for="mail" style="font-size: 17px;font-weight: 600;">Email</label>
                                            </div>
                                            <div>
                                                <input type="text"  name="mail" id="mail"  class="AddBook_Details" value="{{ found.MAIL | default('') }}"><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form2">
                                        <div style="padding: 3px;">
                                            <div>
                                                <label class="textplace" for="designation" style="font-size: 17px; font-weight: 600;">Student/Staff</label>
                                            </div>
                                            <div>
                                                <input type="text"  name="designation" id="designation" class="AddBook_Details" value="{{ found.DESIGNATION | default('') }}"><br>
                                            </div>
                                        </div>
                                        <div style="padding: 3px;">
                                            <div>
                                                <label class="textplace" for="dept" style="font-size: 17px; font-weight: 600;">Department (Mech/Ece/Cse/Aids ...)</label>
                                            </div>
                                            <div>
                                                <input type="text"  name="dept" id="dept" class="AddBook_Details" value="{{ found.DEPARTMENT | default('') }}"><br>
                                            </div>
                                        </div>
                                        <div style="padding: 3px;">
                                            <div>
                                                <label class="textplace" for="phone_no" style="font-size: 17px; font-weight: 600;">Phone Number</label>
                                            </div>
                                            <div>
                                                <input type="text"  name="phone_no" id="phone_no" inputmode="numeric" pattern="[0-9]*" class="AddBook_Details" value="{{ found.PHONE | default('') }}"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="AddBook_container">
                                    <button type="Submit" name="submit" value='update' class="AddBook_submit_button">Update</button>
                                </div>
                            {% endif %}
                        </div>

                    </form>
                </div>
                {% if success_message %}
                <div class="popup d-flex justify-content-center">
                    <div class="success-message">{{ success_message }}</div>
                </div>
                {% endif %}
            </main>
            <!-- MAIN -->
        </section>
        <!-- CONTENT -->

        <script>
            const popup = document.querySelector('.popup');
            if (popup) {
                popup.classList.add('show');
                setTimeout(() => {
                    popup.classList.remove('show');
                }, 2500);
            }
            let subMenu = document.getElementById("subMenu");

            function toggleMenu() {
                subMenu.classList.toggle("open-menu");
            }
        </script>
        <script src="static/scriptmembers.js"></script>
    </body>
    </html>
